{% extends 'base.html' %} {% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome to tweet me</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mx-auto col-10">
    <form
      class="form"
      id="tweet-create-form"
      action="create-tweet/"
      method="POST"
    >
      {% csrf_token %}
      <div class="d-none alert alert-danger" id="create-tweet-form-error"></div>
      <input type="hidden" value="/" name="next" />
      <textarea
        class="form-control"
        name="content"
        placeholder="Your tweet"
        required
      ></textarea>
      <button class="btn btn-primary" type="submit">Tweet</button>
    </form>
  </div>
</div>

<div class="row" id="tweets">
  Loading...
</div>
<script>
  const handleTweetFormError = (msg, display) => {
    console.log("Function called");
    let myErrorDiv = document.getElementById("create-tweet-form-error");
    if (display === true) {
      // show error
      myErrorDiv.setAttribute("class", "d-block alert alert-danger");
      myErrorDiv.innerText = msg;
    } else {
      myErrorDiv.setAttribute("class", "d-none alert alert-danger ");
    }
  };
  const twElement = document.getElementById("tweets");
  const handleTweetCreateFormDidSubmit = (event) => {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

    xhr.onload = function () {
      if (xhr.status === 201) {
        const newTweet = xhr.response;
        console.log(newTweet);

        const newTweetElement = formatTweetElement(newTweet);
        const ogHtml = twElement.innerHTML;
        twElement.innerHTML = newTweetElement + ogHtml;
        myForm.reset();
      } else if (xhr.status === 400) {
        const errorJson = xhr.response;
        let contentError = errorJson.content;
        console.log(xhr.response);
        let contentErrorMessage;
        if (contentError) {
          contentErrorMessage = contentError[0];

          if (contentErrorMessage) {
            handleTweetFormError(contentErrorMessage, true);
          }
        } else {
          alert("Error occured please try again");
        }
      } else if (xhr.status === 500) {
        alert("There was a server error, please try again");
      } else if (xhr.status === 403) {
        alert("Please login first");
        window.location.href = "/login";
      }

      loadTweets(twElement);
    };
    xhr.onerror = function () {
      alert("An error uccured");
    };
    xhr.send(myFormData);
  };
  const tweetCreateFormEl = document.getElementById("tweet-create-form");
  tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit);

  const loadTweets = (tweetsElement) => {
    tweetsElement.innerHTML = "Loading...";
    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = () => {
      let serverResponse = xhr.response;
      let tweetsUI = "";
      let listedItems = serverResponse;
      listedItems.forEach((element) => {
        let tweet = formatTweetElement(element);
        tweetsUI += tweet;
      });
      tweetsElement.innerHTML = tweetsUI;
    };

    xhr.send();
  };

  loadTweets(twElement);

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function handleTweetActionBtn(tweet_id, currentCount, action) {
    console.log(tweet_id, currentCount);
    const url = "/api/tweets/action";
    const csrftoken = getCookie("csrftoken");
    const method = "POST";
    const data = JSON.stringify({
      id: tweet_id,
      action: action,
    });
    const xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.onload = () => {
      console.log(xhr.status, xhr.response);

      loadTweets(twElement);
    };
    xhr.send(data);
  }
  function LikeBtn(tweet) {
    return (
      "<button class='btn btn-primary ' onclick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'like')>" +
      tweet.likes +
      " Likes</button>"
    );
  }

  function UnlikeBtn(tweet) {
    return (
      "<button class='btn btn-outline-primary ' onclick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'unlike')>" +
      tweet.likes +
      " Unlike</button>"
    );
  }

  function RetweetBtn(tweet) {
    return (
      "<button class='btn btn-outline-success ' onclick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'retweet')>" +
      tweet.likes +
      " Retweet</button>"
    );
  }
  function formatTweetElement(tweet) {
    let formatedTweet =
      "<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3' id='tweet-" +
      tweet.id +
      "'><p>" +
      tweet.content +
      "</p><div class='btn-group'>" +
      LikeBtn(tweet) +
      UnlikeBtn(tweet) +
      RetweetBtn(tweet) +
      "</div></div>";
    return formatedTweet;
  }
</script>
{% endblock content %}
